section.softwareteem {
    height: 100vh;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teemworkformet h2 {
    font-size: 45px;
    line-height: 65px;
}

.teemworkformet p {
    margin: 35px 0 54px
}


a.signupbtn {
    font-family: 'Sofia Pro';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding: 17px 45px;
    border-radius: 6px;
    max-width: fit-content;
    transition: all 1s ease;
}

a.signupbtn:hover {
    color: #FFFFFF;
    background: #457CE8;
}

section.softwareteem .libarayformet p:after {
    display: none;
}

section.softwareteem .Softwareformet:after {
    display: none;
}

.logicbulid {
    background: #F8FAFF;
    border-radius: 15px;
}

.teemworkformet {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workteem {
    position: relative;
}

.workteem:after {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/teembg.png);
    background-repeat: no-repeat;
    top: -80px;
    left: 0;
    width: 195px;
    height: 195px;
    z-index: 2;
}

.workteem:before {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/teembg1.png);
    background-repeat: no-repeat;
    bottom: 40px;
    right: 0;
    width: 195px;
    height: 195px;
    z-index: 2;

}

section.softwareteem .container {
    position: relative;
    z-index: 1;
}

section.softwareteem .container:after {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/libaray8.png);
    background-repeat: no-repeat;
    top: -92px;
    left: -14px;
    width: 199px;
    height: 163px;
    background-size: contain;
    z-index: 0;
}

section.softwareteem .container:before {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/libaray7.png);
    background-repeat: no-repeat;
    bottom: -21%;
    right: -32px;
    width: 210px;
    height: 250px;
    background-size: contain;
    z-index: -1;
}

.workteem img {
    position: relative;
    z-index: 1;
}