section.assistant {
    padding: 100px 0 80px;
}

.block.w-full.py-4.text-gray-700.antialiased.font-sans.text-sm.font-light.leading-normal {
    padding: 10px 0 0 !important;
    font-family: 'Sofia Pro';
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #16182F;
    padding: 20px !important;
}

section.assistant button {
    font-family: 'Sofia Pro';
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #1C2640;
    padding: 20px !important;
}

section.assistant .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overflow-hidden {
    border-top: 1px solid rgb(121 137 177 / 10%);
}


.question .block.relative.w-full {
    background: #FFFFFF;
    border: 1px solid rgba(97, 150, 254, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    max-width: 70%;
}

.question span.w-5.h-5.ml-4 {
    margin-left: auto;
}

span.one {
    margin-right: 15px;
    background: rgb(97 150 254 / 10%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    transition: all 1s ease;
}

.question .block.relative.w-full:hover span.one {
    background: #6196FE;
}

.faqbtn {

    margin-top: 50px;
    margin-bottom: 0;
}

button.flex.justify-between.items-center.w-full.py-4.border-b.border-b-blue-gray-100.text-blue-gray-700.antialiased.font-sans.text-xl.font-semibold.leading-snug.select-none.hover\:text-blue-gray-900.transition-colors {
    width: 100%;
}

button.flex.justify-between.items-center.w-full.py-4.border-b.border-b-blue-gray-100.antialiased.font-sans.text-xl.font-semibold.leading-snug.select-none.hover\:text-blue-gray-900.transition-colors.text-blue-gray-900 {
    width: 100%;
}