section.library {
    height: 100vh;
    align-items: center;
    display: flex;

}

.libraryimg img {
    max-width: 460px;
    position: relative;
    z-index: 1;
}

.libraryimg:after {
    position: absolute;
    content: "";
    width: 211px;
    height: 216px;
    background-image: url(../../assets/images/libaray1.png);
    background-repeat: no-repeat;
    top: -91px;
    left: 32px;
    background-size: contain;

}

.libraryimg:before {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/libaray2.png);
    background-repeat: no-repeat;
    width: 323px;
    height: 251px;
    right: 0;
    background-size: contain;
    bottom: -62px;
}

.libarayformet h2 {
    font-weight: 900;
    font-size: 50px;
    line-height: 69px;
    max-width: 682px;
}

.libarayformet p {
    margin-top: 90px;
    max-width: 600px;
}

.libarayformet p:after {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/libaray4.png);
    background-repeat: no-repeat;
    width: 460px;
    height: 27px;
    left: 50%;
    top: -60px;
    background-size: contain;
    transform: translateX(-50%);
}