section.softwareBusiness {
    display: flex;
    align-items: center;
    padding-bottom: 60px;
}


.businesswoman img {
    width: 500px;
    margin: auto;
}


.businessformet h2 {
    max-width: 550px;
}

.businessformet h2 {
    color: #FFFFFF;
}

section.softwareBusiness .container {
    background-image: url(../../assets/images/businessbg.png);
    background-repeat: no-repeat;
    height: 590px;
    display: flex;
    align-items: center;
}

section.softwareBusiness .grid.grid-cols-2 {
    width: 100%;
}

a.businessbtn {
    background: #000;
    transition: all 1s ease;
}

a.businessbtn:hover {
    color: #000;
    background: #FFFFFF;
}