.container {
    max-width: 1440px;
}

section.spend {
    height: 100vh;
}

.spendimg:after {
    position: absolute;
    content: "";
    width: 482px;
    height: 340px;
    background: rgba(97, 150, 254, 0.14);
    border-radius: 21.6487px;
    top: 0;
    left: 0;
    transition: all 1s ease;
}

section.spend:hover .spendimg:after {
    transform: rotate(-11deg);
    width: 503px;
    height: 379px;
    left: 0;
    top: 0;
}

.spendimg img {
    transition: all 1s ease;
    max-width: 500px;
    z-index: 1;
    position: relative;
}

.candidate ul {
    column-gap: 15px;
    margin: 28px 0 10px;
}

.spendimg:before {
    position: absolute;
    content: "";
    width: 470px;
    height: 340px;
    border: 1.08244px solid #FE5819;
    border-radius: 21.6487px;
    top: 0;
    left: 0;
    transition: all 1s ease;
    z-index: -1;
}

section.spend:hover .spendimg:before {
    transform: rotate(4deg);
    width: 500px;
    height: 382px;
    top: 0;
    left: 0px;
    z-index: 1;
}


.sepend_formt h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 67px;
}

.sepend_formt:after {
    position: absolute;
    content: "";
    background-image: url(../../assets/images/arrow.png);
    background-repeat: no-repeat;
    width: 120px;
    height: 125px;
    top: 36%;
    left: -22%;
}

a.employerbtn {
    display: flex;
    background: rgb(248 250 255 / 70%);
    border: 1.2px solid #BAC2D1;
    border-radius: 6px;
    padding: 13px 22px;
    transition: all 0.5s ease;
}

a.employerbtn1 {
    margin: 0 15px;
}

a.employerbtn:hover {
    background: var(--blue);
    color: #FFFFFF;
}

.spendbtn ul {
    column-gap: 20px;
}

.spendbtn {
    margin: 23px 0;
}

.spendpilot ul {
    column-gap: 35px;
}

.capterra {
    margin: 0 34px;
}

section.spend .grid.grid-cols-2 {
    align-items: center;
}

div#headlessui-popover-panel-\:rb\: {
    z-index: 9 !important;
}

div#headlessui-popover-panel-\:re\: {
    z-index: 9 !important;
}