.interviewerapp {
    padding-top: 85px;
}


.facebook ul.flex.items-center {
    display: flex;
    justify-content: space-between;
}

.facebook {
    max-width: 80%;
    margin-top: 20px;
}

a.Subscribe {
    width: 0;
}


.interviewerapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(122 145 171 / 10%);
    padding-bottom: 60px;

}

section.listdocument .mailbox {
    margin-top: 0;
}

span.schedulebtn.flex.items-center.justify-center {
    top: 0;
}

.emailbox {
    width: 450px;
    display: block;
}

.jointext p {
    margin-bottom: 8px;
}

.demobtn {
    background: #6196FE;
}

.Features {
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
}

ul.companywork li a {
    font-family: 'Sofia Pro';
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;

}

ul.companywork li a:hover {
    color: #1C2640;
}



.copyright {
    border-top: 1px solid rgb(122 145 171 / 10%);
}

.copyright p {
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 25px 0;
}

.feautureformrt {
    padding-bottom: 42px;
}

.jointext p {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.jointext a {
    font-size: 16px;
}

.resume h4 {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 30px;
}

ul.companyemploye {
    margin: 0 35px;
}

.companywork li {
    padding-bottom: 5px;
}


.qulityhires.flex.justify-center {
    justify-content: space-evenly;
}

ul.companywork p a:hover {
    color: #1C2640;
}

.companywork p {
    padding-bottom: 5px;
}

ul.companywork.companylang {
    margin-left: 20px;
}

.englang p {
    padding-bottom: 5px;
}

a.livebtn.demobtn {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}